@import "../node_modules/rfs/scss";

html, body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    padding-top: 80px;
    padding-bottom: 50px;
}

#chat-zone {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 5%;
}

.bot-text {
    background-color: #8080802e;
    padding: 4px 10px;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-inline-end: 50%;
    margin-right: auto;
}

.user-text {
    background-color: #20daae3d;
    padding: 4px 10px;
    border-radius: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-inline-start: 20%;
    margin-right: auto;
}

.map {
    width: 295px;
    height: 300px;
    background: grey;
}

.jumbotron {
    text-align: center;
    padding: 50px;
    margin-right: 8px;
    margin-left: 8px;
}

.my-title {
    @include font-size(1.7rem);
}

.my-text {
    @include font-size(1rem);
}

.navbar-brand {
    @include font-size(2rem);
}

.display-text {
    height: 30em;
    margin-bottom: 8px;
    overflow: auto;
}

.about-me {
    text-align: center;
}

.footer-icons{
    text-align: center;
}

.facebook-button {
    margin: 4px;
}