@import "../node_modules/rfs/scss";

html, body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 50px;
}

.bot-answer {
    background-color: #8080802e;
    padding: 4px 10px;
    border-radius: 10px;
    margin: 1em;
    display: inline-block;
    margin-inline-start: 40%;
}

.user-text {
    background-color: #20daae3d;
    padding: 4px 10px;
    border-radius: 10px;
    margin: 1em;
    display: inline-block;
}

.map {
    width: 95%;
    height: 85%;
    background: grey;
}

.jumbotron {
    text-align: center;
    padding: 50px;
    margin-right: 8px;
    margin-left: 8px;
}

.my-title {
    @include font-size(1.7rem);
}

.my-text {
    @include font-size(1rem);
}

.navbar-brand {
    @include font-size(2rem);
}

.chat-box {
    min-width: 95%;

}

.display-text {
    height: 30em;
    margin-bottom: 8px;
    overflow: auto;
}

.about-me {
    text-align: center;
}

.footer-icons{
    text-align: center;
}

.facebook-button {
    margin: 4px;
}