{% extends 'base.html' %}

{% block head %}
<title>GrandPy</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block container %}
<div class="jumbotron">
    <h1 class="display-4 my-title">RONDET Romain</h1>
    <p class="lead">Fullstack Developper.</p>
    <hr class="my-4">
    <p class="my-text">If you are working on something that you really care about, you don’t have to be pushed. The
        vision pulls you.</p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}