<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link rel="icon" type="image/ico" href="static/icons/grandpy.ico" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core-legacy.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service-legacy.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    {% block head %}{% endblock %}
</head>

<body>

    <header>
        <nav class="navbar bg-dark navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="/">
                <img src="static/images/grandpy_01.png" height="75" class="d-inline-block" alt="">
                GrandPy Bot !
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="about-me"
                aria-controls="about-me" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse about-me">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Qui suis-je ?</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block header %}{% endblock %}
    </header>

    {% block container %}{% endblock %}

    <footer class="container-fluid bg-dark text-white mt-auto py-3 fixed-bottom">
        <div class="container footer-icons">
            <a href="https://github.com" class="btn btn-secondary"><i class="bi bi-github"></i></a>
            <a href="https://facebook.com" class="btn btn-secondary facebook-button"><i class="bi bi-facebook"></i></a>
            <a href="https://linkedin.com" class="btn btn-secondary"><i class="bi bi-linkedin"></i></a>
        </div>
        {% block footer %}{% endblock %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
    {% block script %}{% endblock %}
</body>

</html>